@import "../components/utils";
@import "../defaults/color";

body{
    background-color: $primary-color;
}

main {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    padding: 8px;

    section {
        .opener {
            img {
                width: 100%;
            }
        }
        .heading{
            text-align: center;
                h1 {
                    @include headings ();

                    font-size: 70px;
                    margin: 20px;
                }
                h3 {
                    color: $text-color;
                    font-family: 'Rajdhani', sans-serif;
                    font-size: 50px;
                    margin-top: 10px;
                    margin-bottom: 40px;
                }
        }
    }
}

