@import "../components/utils";
@import "../defaults/color";

body{
    background-color: $primary-color;
}

main {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    padding: 8px;

    section {
        //This Component has been styled to present graphical content for the user.
        .opener {
            img {
                width: 100%;
            }
        }
        ////This Component has been styled to present text content for the user.
        .heading{
            text-align: center;
                h1 {
                    @include headings ();

                    font-size: 70px;
                    margin: 20px;
                }
                h3 {
                    color: $text-color;
                    font-family: 'Rajdhani', sans-serif;
                    font-size: 50px;
                    margin-top: 10px;
                    margin-bottom: 40px;
                }
        }
    }
}


@media screen and (min-width: $tablet) {
    .opener {
        margin-bottom: 36px;
    }
}


@media screen and (min-width: $desktop) {
    section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;

        .heading {
            h1 {
                font-size: 90px;
            }
            h3{
                font-size: 70px;
            }
        }
    }   
}
