@import "./utils";


header {
    display: flex;
    flex-direction: column;
    background-color: $primary-color;

    .logo {
        
        img {
            width: 75%;
            height: 30%;
        }
        margin-bottom: 14px;
        text-align: center;
        .name {
            font-size: 28px;
            text-align: center;
            margin-top: 0px;

            #first-name {
                color: $secondary-color;
            }
            #middle-name {
                color: $text-color;
            }
            #last-name {
                color: $secondary-color;
            }
        }
    }
    .nav-items {
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 22px;
        margin-bottom: 20px;
        font-family: 'Rajdhani', sans-serif;
    }   
}

@media screen and (min-width: $tablet) {
    header {
        .logo {
            img {
                width: 50%;
                height: 20%;
            }
        }

        .nav-items {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (min-width: $desktop) {
    header {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        .logo {
            margin-bottom: 0px;
            text-align: start;

            .name {
                margin-bottom: 0px;
                text-align: start;
                margin-left: 60px;
            }
        }
        .nav-items {
            width: 40%;
        }
    }
}

