


header {
    display: flex;
    flex-direction: column;
    background-color: #E9F1FA;

    .logo {
        
        img {
            width: 75%;
            height: 30%;
        }
        margin-bottom: 14px;
        text-align: center;
        .name {
            font-size: 28px;
            text-align: center;
            margin-top: 0px;

            #first-name {
                color: #00ABE4;
            }
            #middle-name {
                color: #286181;
            }
            #last-name {
                color: #00ABE4;
            }
        }
    }
}

.nav-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    margin-bottom: 20px;
}